.offer-content {
  background-color: #F4E9DC;
  border-radius: 12px;
  padding: 60px 87px ;
  margin-bottom: 40px;
  display: flex;
  gap: 80px;
}

.offer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.offer-left h3,p {
  margin: 0;
}

.offer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}