.offer-content {
  border-radius: 12px;
  padding: 50px 191px 50px 334px;
  margin-bottom: 40px;
  display: flex;
  gap: 120px;
  background: url('../../styles/backgrounds/small.svg') no-repeat center center/cover, #F4E9DC;
}

.offer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.offer-left h4,p {
  margin: 0;
}

.offer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}