  .teaser.block {
    height: 490px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
  }

  .teaser.block.half-height {
    height: 200px;
  }
  
  /* foreground container, flex (text + spacer), always on top */
  .teaser.block > .foreground {
    position: relative;
    display: flex;
    padding: 70px 40px;;
    background-color: unset;
    max-width: 540px;

  }

  @media (width >= 900px) {
    .teaser.block > .foreground {
      padding: 10px 87px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;
    }
  }

/* turn on the eybrow */
.teaser.block > .foreground > .text > .eyebrow {
    display: block;
    text-align: left;
    font: normal normal bold 12px/16px Roboto;
    letter-spacing: 0.96px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.teaser.block > .foreground > .text > .title :where(h1,h2,h3,h4,h5,h6) {
  margin: 0;
  color: #FFFFFF;
  letter-spacing: 0px;
  font: normal normal normal 54px/50px Baskerville;
}

@media (width >= 900px) {
  .teaser.block > .foreground > .text > .title :where(h1,h2,h3,h4,h5,h6) {
      margin: 0;
      color: #FFFFFF;
      letter-spacing: 0px;
      font: normal normal normal 56px/56px Baskerville;
  }
}


.teaser.block.dark > .foreground > .text > .title {
    color: #58181D;
}

.teaser.block.dark > .foreground > .text > .eyebrow {
    color: #58181D;
}


.teaser.block > .foreground > .text > .cta > a.button {
    border: 0;
    color: #FFFFFF;
}

  /* spacer */
  .teaser.block > .foreground > .spacer {
    display:block;
    order: 1;
    flex-grow:2;
  }

/* change the order if text should be on the right */
.teaser.block.right > .foreground > .spacer {
    order: 0;
    }

 /* the background image container */
  .teaser.block > .background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  
  .teaser.block > .background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .teaser.block .long-description {
    color: #FFF;
  }

  @media (width >= 900px) {
    .teaser.block > .background img {
      width: 100%;
      height: 100%;
    }  
  }