footer {
  background-color: var(--frescopa--color-background);
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
}

footer .footer > div {
  margin: auto;
  max-width: var(--site-width);
  padding: 40px 24px 24px;
}

footer .section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (width >= 900px) {
  footer .section {
    flex-direction: row;
  }
}


footer h6 {
  font-family: roboto;
  font-weight: 500;
  font-size: 15px;
}

footer .default-content-wrapper h6 {
  margin-top: 0;
}

footer .footer .section:last-child > .default-content-wrapper {
  display: flex ;
  justify-content: space-between;
  width: 100%;
}

.footer p,li {
  margin: 0;
  font-size: 13px;
  text-decoration: none;
  color: var(--frescopa--color-text);
  margin-bottom: 10px;  
}

.footer li a {
  font-size: 13px;
  font-weight: 300;
  text-decoration: none;
  color: var(--frescopa--color-text);
}

footer ul {
  list-style-type: none;
  padding: 0;

}

footer .button-container {
  width: 200px;
  margin-bottom: 0;
}

footer .columns-wrapper .columns div {
  vertical-align: top;
  min-width: max-content;
  margin-bottom: 20px;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 10px;
  }

  footer .columns > div {
    gap: 80px;
  }
}
